certifi==2021.5.30 # via requests
chardet==4.0.0 # via requests
click==8.0.1 # via flask
flask==2.0.1 # via script-facade (setup.py)
gunicorn==20.1.0 # via script_facade (setup.py)
idna==2.10 # via requests
itsdangerous==2.0.1 # via flask
jinja2==3.0.1 # via flask
lxml==4.6.3 # via script-facade (setup.py)
markupsafe==2.0.1 # via jinja2
redis==3.5.3 # via script-facade (setup.py)
requests-cache==0.6.4 # via script-facade (setup.py)
requests==2.25.1 # via requests-cache
six==1.16.0 # via url-normalize
url-normalize==1.4.3 # via requests-cache
urllib3==1.26.5 # via requests
werkzeug==2.0.1 # via flask
